.about {
    
    .image{
        background-image: url("../../Images/Barberia.jpeg");
        height: 50%;
        background-size: 70%;
    }
    .info{
        overflow-y: hidden;
        padding: auto;
        height: 50%;
        text-align: center;
        background-color: #181818;
        p, h2{
            padding: 40px;
            justify-content: center;
            color: #fff;
        }
    }
}