@import "../../global.scss";

.topbar {
  width: 100%;
  height: 92px;
  position: fixed;
  background: #303030;
  top: 0;
  z-index: 3;
  overflow-y: hidden;
  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      a{ 
        img{
          display: block;
          margin: auto;
          object-fit: contain;
          width: 35%;
          border-radius: 10%;
        }
      }
      .itemContainer {
        display: flex;
        align-items: center;
        .icon {
          font-size: 18px;
          margin-right: 5px;
        }
        a {
          color: white;
          font-size: 18px;
          padding: 12px;
          text-decoration: none;
          &:hover {
            border-bottom: 2px solid white;
          }
        }
      }
    }
    .right {
      .hamburger {
        width: 32px;
        height: 25px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: white;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }
  &.active {
    color: white;
    .hamburger {
      span {
        &:first-child {
          background-color:white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@media(max-width: 900px){
  .topbar {
    .wrapper { 
      .right .hamburger{
        display: flex;
      }
      .left .itemContainer{
        display: none;
      }
    }  
  }
}