.about {
    display: flex;
    flex-direction: column;
    background-color: #303030;
    .image{
        height: 100%;
        width: 100%;
        background-image: url('../../Images/intro.jpeg');
        background-size: 100%;
        img {
            height: 100%;
            width: 100%;
            image-rendering: auto;
            image-rendering: crisp-edges;
            image-rendering: pixelated;
            image-rendering: -webkit-optimize-contrast;
        }
    }
    .info{
        height: 100%;
        overflow-y: hidden;
        text-align: center;
        background-color: #181818;
        p, h2{
            margin: 25px;
            padding: 25px;
            justify-content: center;
            color: #fff;
        }
    }
}

  @media (max-width: 1180px) {
    .about{
        .image {
            height: 300px;
            background-size: 300%;
        }   
    }
  }