.about {
    display: flex;
    flex-direction: column;
    .image{
        height: 100%;
        width: 100%;
        background-image: url('../../Images/intro.jpeg');
        background-size: 100%;
    }
    .info{
        overflow-y: hidden;
        padding: auto;
        height: 65%;
        text-align: center;
        background-color: #303030;
        p, h2{
            padding: 25px;
            justify-content: center;
            color: white;
        }
    }
}

  @media (max-width: 1180px) {
    .about{
        .image {
            height: 300px;
            background-size: 300%;
        }   
    }
  }