.about {
    .image{
        background-image: url("../../Images/Barberia.jpeg");
        height: 500px;
    }
    .info{
        height: 100%;
        text-align: center;
        background-color: #303030;
    }
}