.contact{
        overflow-y: hidden;
        display: inline;
        height: auto;
        p {
            padding: 20px;
            text-align: center;
            color: #fff;
            display: block;
        }
    .wrapper-Map{
        position: relative;
        left: 0;
        right: 0;
        height: 60%;
        width: auto;
      
        .map{
            height: 100%;
            width: 100%;
            position: relative;
            display: block;
            margin: auto;
        }
    } 
    .info{
        background-color: #303030;
        text-align: center;
        height: fit-content;
        width: auto;
        div{
            display: inline-block;
            padding: 15px;
            .icon{
                display: inline-block;
                color: #fff;
                padding-bottom: 50px;
            }
            .text{
                display: inline-block;
                padding: 0;
                h2{
                    display: block;
                    color: rgb(180, 209, 77);
                    padding: 0;
                }
                p{
                    text-align: center;
                    color: #fff;
                    display: block;
                    font-size: 15px;
                    
                }
            }
            
        }
    }
    .schedule{
        background:  #303030;
        justify-content: space-between;
     p{
        color: white;
        margin-bottom: 10px;
        .icon {
            color: white;
            padding-right: 10px;
            padding-left: 10px;
        }
        
    }
    } 

}

.social-menu {
    ul {
        position: fixed;
        bottom: 25px;
        right: 25px;
        border-radius: 40px;
        text-align: center;
        li {
            list-style: none;
            margin: 3px;
            padding-top: 10px;
            .fa {
                color: #000000;
                font-size: 25px;
                line-height: 50px;
                transition: .5s;
                &:hover{
                    color: #ffffff;
                }
            }
            a {
                position: relative;
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: white;
                text-align: center;
                transition: 0.5s;
                transform: translate(0,0px);
                box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
                margin: 5px;
                &:hover{
                    transform: rotate(0deg) skew(0deg) translate(0, -10px);
                }
                .icon {
                    color: #ffffff;
                }
            }
            &:nth-child(1) a:hover {
                background-color: #25d366;
            }
            &:nth-child(2) a:hover {
                background-color: #ce125b;
            }
            &:nth-child(1) a {
                background-color: #25d366;
            }
            &:nth-child(2) a {
                background-color: #ce125b;
            }
        }
    }
    p {
        text-align: center;
        padding-top: 50px;
    }

  
}


@media (max-width: 1280px){
    .intro .text{
        background-size: auto;
    }
}


