.footer-container {
  display: flex;
  justify-content: center;
  background: #303030;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 99;
  position:static;
  width: 100%;
  flex-direction:column-reverse; 
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;

  .desing  {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    color: #e7e6e7;
    text-align: center;
    .icon:hover {
      color: #ffffff;
    }
   
  }
  .icon{
    color:lightblue;
  }
  .desing{
    p{
      padding: 0 !important;
    }
  }
  
}
