body {
  margin: 0;
  font-family: 'Volkhov', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  box-sizing: border-box;
}

h1 {
  font-weight: 900;
  font-size: 45px;
}

h2 {
  font-weight: 700;
  font-size: 23px;
}

p {
  font-weight: 500;
  font-size: 22px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*/
* {
  margin: 0;
}

html, body {
  height: 100%;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
.calendly-popup-content{
  overflow-y: hidden;
}

.calendly-badge-widget{/*aquí ajustas el boton pa*/
  float: right;
  padding-right: 500px;
}